.main div{
	display: inline-block;
	flex-direction: row;
	margin: 20px 40px;
	flex-wrap: wrap;
	flex-flow: row;
	margin-left: 20px;
	margin-right: 20px;
}
img:hover {	
transform: scale(2.2);
}

body {
	display: inline-block;
}