@media handheld and (max-width: 481px),
screen and (max-device-width:480px),
screen and (max-widht: 480px){
	div{
		column-count: 1;
	}
}
@media only screen and (min-width: 481px)
and (max-width: 1024px){
	div{
		cloumn-count:  2;
		cloumn-gap: 30px;
		column-rule: 1px outset black;
	}
}